* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-image: url(/assets/imgs/greathall2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
  color: #f4f4f8;
  background-color: rgba(15, 14, 14, 0.89);
  margin: 50px;
  padding: 20px;
}

form {
  padding: 50px;
}

#form-submit {
  background-color: #2e073f;
  color: #f4f4f8;
  align-self: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

/* Container for the cards */
#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
  margin: 20px;
  padding: 40px;
}

/* Individual card styling */
.card {
  width: 20rem;
}

.card img {
  height: 400px;
  object-fit: cover;
  align-self: center;
}

.footprint {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url("/assets/imgs/print.gif") no-repeat center center;
  background-size: contain;
  opacity: 0;
  filter: brightness(0.8) contrast(1.2);
}

/* Media query for small screens */
@media (max-width: 768px) {
  /* Stack the buttons in a column */
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds space between buttons */
  }

  /* Stack the cards in a column */
  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds space between cards */
  }

  /* Adjust button size and width */
  .btn {
    width: 100%; /* Makes buttons full-width on smaller screens */
    max-width: 300px; /* Optional: Set a max width to keep buttons from getting too wide */
  }

  /* Adjust the image for smaller screens */
  #hat {
    width: 100%;
    max-width: 300px; /* Optional: Set a max width for the image */
    height: auto;
  }

  /* Ensure the form is centered and occupies full width */

  #sortingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f4f4f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  #sortingForm label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    background-color: #f4f4f8;
    color: #0a0908;
  }

  #sortingForm select {
    width: 100%;
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Adjust form input width */
  .form-floating input {
    width: 100%;
    max-width: 400px; /* Optional: Set a max width */
  }

  /* Adjust form button size */
  #form-submit {
    width: 100%;
    max-width: 300px;
    cursor: pointer;
  }
}

#btn-music {
  margin-top: 20px;
  background-color: #0a0908;
}

#mentorContainer {
  background-color: rgba(18, 6, 61, 0.8);
  border-radius: 8px;
  color: #f4f4f8;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#getMentor {
  background-color: #2e073f;
  margin-top: 20px;
  color: #f4f4f8;
}
